html,body {
    height: 100%;
}
.containers {
    width: 100%;
    height: 698px;
    background: #ffffff;
}

.left_side {
    width: 16.6%;
    height: 100%;
    background: #3f3f3f;
    overflow: hidden;
}
.back_home {
    width: 215px;
    height: 40px;
    display: block;
    border: 1px solid #ec6c4b;
    border-radius: 20px;
    color: #ec6c4b;
    text-align: center;
    line-height: 40px;
    margin: 25px 0 25px 20px;
}
.back_home:hover {
    color: #ec6c4b;
}
.left_side h3 {
    padding-left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
}
.add_icon {
    width: 14px;
    height: 14px;
    background: url(../images/jia.png) no-repeat;
}
.new_collect {
    padding: 0 0 0 20px;
    display: none;
}
.new_collect.active {
    display: block;
}
.cltInput {
    width: 210px;
    height: 35px;
    background: rgba(153, 153, 153, .3);
    border-radius: 5px;
    padding-left: 10px;
    color: #ffffff;
    outline: none;
    margin-bottom: 10px;
    display: none;
}
.new_collect a{
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.new_collect .ensure {
    border: 1px solid #34ab20;
    border-radius: 30px;
    color: #34ab20;
}
.new_collect .ensure:hover {
    background: rgba(52, 171, 32, .15);
}
.new_collect .cancel {
    line-height: 32px;
    color: #bbbbbb;
}
.new_collect .cancel:hover {
    color: #ffffff;
}
.collections {
    padding-top: 10px;
    margin-bottom: 10px;
}
.collections>div>li {
    padding-left: 20px;
    line-height: 40px;
    color: #ffffff;
    cursor: pointer;
    border-left: 3px solid transparent;
    position: relative;
}
.collections>div>li:hover {
    background: rgba(255, 255, 255, .2);
    border-left: 3px solid transparent;
}
.collections>div>li.active {
    background: rgba(255, 255, 255, .2);
    border-left: 3px solid #ec7259; 
}
.collections>div>.modify_clt {
    line-height: 40px;
    background: #ffffff;
    padding-left: 10px;
    width: 100%;
}
.collections>div>.cltInput {
    margin: 0;
    width: 100%;
}
.clt_setting {
    width: 16px;
    height: 40px;
    background: url(../images/setting.png) no-repeat left center;
    margin-right: 12px;
    display: none;
}
.clt_setting.active {
    display: block;
}
.left_side h2 {
    line-height: 40px;
    color: #999999;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}
.recycle_icon {
    width: 20px;
    height: 20px;
    background: url(../images/recycle_icon.png) no-repeat left center;
    margin-top: 10px;
}
.mid_new {
    width: 25%;
    height: 698px;
    background: #ffffff;
    border-right: 1px solid #dddddd;
}
.mid_new h2 {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    padding-left: 25px;
    cursor: pointer;
    margin: 0;
}
.add_article {
    width: 16px;
    height: 55px;
    background: url(../images/add_jia.png) no-repeat left center;
    margin-right: 8px;
}
.articles li {
    height: 90px;
    border-top: 1px solid #dddddd;
    border-left: 4px solid transparent;
    padding-left: 20px;
    line-height: 65px;
    cursor: pointer;
}
.articles li:hover {
    background: rgba(178, 178, 178, .25);
}
.articles li.active {
    border-left: 4px solid #ec7259;
    background: rgba(178, 178, 178, .25) url(../images/setting_artic.png) no-repeat 90% center;
}
.o_article {
    width: 30px;
    height: 90px;
    background: url(../images/o_article.png) no-repeat left center;
    margin-right: 15px;
}
.articles span {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}
.mid_new h4 {
    padding-left: 20px;
    font-size: 12px;
    color: #666666;
    font-weight: 300;
    cursor: pointer;
    line-height: 12px;
}
.add_down_arti {
    width: 12px;
    height: 12px;
    background: url(../images/jia_artic.png) no-repeat;
}
.editor_title {
    height: 70px;
    padding-left: 40px;
    font-size: 30px;
}
.right_side {
    width: 58.4%;
}
.editor_title {
    width: 100%;
    outline: none;
}
.tips {
    width: 160px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: -72px;
    display: none;
    padding-top: 16px;
    z-index: 999;
}
.tip_content {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    border-radius: 8px;
    position: relative;
}
.tip_content>li {
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    color: #333333;
    border-radius: 8px;
}
.tip_content>li:hover {
    background: #666666;
    color: #ffffff;
}
.tip_content>li i {
    padding-right: 5px;
    font-size: 14px;
}
.tips.active {
    display: block;
}
.tip_line {
    width: 158px;
    height: 1px;
    background: #eeeeee;
    position: absolute;
    left: 0;
    top: 50%;
}
.tips b {
    position: absolute;
    right: 12px;
    top: -6px;
    font-size: 20px;
}
.active {
    display: block;
}
.dis_appear {
    display: none;
}